.home-page {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0; right: 0;
    left: 0; bottom: 0;
    background: var(--gradient-dark);
    overflow: hidden;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}