.chat-inp-container{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 9px;
    background-color: lightgray;
    /* border-radius: 80px; */
    gap: 9px;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.3);

    .attach-button-div{
        width: 40px;
        /* background-color: bisque; */

        .attach-button{
            padding: 0;

            border-radius: 50%;
            background-color: aquamarine;
            border: none;

            img{
                width: 100%;
            }
        }
    }
    .chat-inp-div{
        flex: 1;
        /* background-color: beige; */
        display: flex;
        justify-content: center;
        input{
            background-color: transparent;
            box-sizing: border-box;
            color: black;
            border: none; 
            border-bottom: 2px solid;
            padding-bottom: 0;
            outline: none;
            width: 97%;
            /* height: 100%; */
            font-size: 20px;
            padding: 0 0 0 10px;
        }
        input:focus{
            border-bottom: 4px solid #005f10;
        }
    }
    .send-button-div{
        width: 40px;
        /* background-color: bisque; */
    
        .send-button{
            padding: 0;
            
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.1);
            background-color: aquamarine;
            border: none;
    
            img{
                width: 100%;
                transform: translate(0 4px);
            }
        }
    }
}